#addProductControls{
	display: grid;
	grid-template-columns: 120px 210px 50px;
	align-items:center;
	grid-row-gap:3px;
	grid-column-gap:5px;
}

#newProductIdLabel{
	grid-column:1;
}

#newProductId{
	grid-column:2;
}

#newProductIdCounter{
	grid-column:3;
}

#newProductIdButton{
  	grid-column:2/4;
	max-width:130px;
	justify-self: right;
}

#addProductResponseField{
	grid-column:2/5;
}

#existingProductsContainer{
	margin-top:5px;
}

